<div>
    <img style="vertical-align:middle;margin:0px 250px" width="800" height="400" src="https://previews.123rf.com/images/bigmouse/bigmouse1706/bigmouse170600073/80502525-cartoon-car-racing-sport-professional-competition-vector.jpg">
    <h1 align="center">Welcome to Bear Drag Strip!</h1>
</div>